<!DOCTYPE html>
    <html>
    <head>
        <title>Query Document System</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script src="static/script.js" defer></script>
    </head>
    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h1>DocSearch AI</h1>
                </div>
                <nav>
                    <ul>
                        <li class="current"><a href="/">Home</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="container">
            <div class="form-section">
                <h2>Upload Document</h2>
                <form id="uploadForm" action="/upload_file/" enctype="multipart/form-data" method="post" onsubmit="handleSubmit('uploadForm', event)">
                    <input name="file" type="file">
                    <input type="submit" class="button">
                </form>
            </div>

            <div class="form-section">
                <h2>Retrieve Documents</h2>
                <form id="retrieveForm" action="/retrieve_docs/" method="get" onsubmit="handleSubmit('retrieveForm', event)">
                    <input name="query" type="text" placeholder="Enter Query">
                    <input name="user_id" type="text" placeholder="User ID">
                    <input type="submit" value="Retrieve Documents" class="button">
                </form>
            </div>

            <div class="form-section">
                <h2>Query Document</h2>
                <form id="queryForm" action="/query_file/" method="post" onsubmit="handleSubmit('queryForm', event)">
                    <input name="query" type="text" placeholder="Enter Query">
                    <input name="user_id" type="text" placeholder="User ID">
                    <input type="submit" value="Query Documents" class="button">
                </form>
            </div>

            <div id="output"></div>
        </div>
    </body>
    </html>
