body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

#branding h1 {
    color: #4caf50;
}

.button {
    background: #4caf50;
    color: #ffffff;
    border-radius: 4px;
}

.button:hover {
    background-color: #367c39;
}

#output {
    font-family: 'Courier New', monospace;
}
